<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="club.glamajestic.healthtrack">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="HealthTrack"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StatsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Stats"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Goals"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".GoalsUserInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Goals User Info"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".GoalsSubmission"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Goals Submission"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Ate"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="What I ate Today"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Warnings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Warnings"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".DisplayList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="List View"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <instrumentation
            android:name="android.support.test.runner.AndroidJUnitRunner"
            android:label="Tests for Stats"
            android:targetPackage="club.glamajestic.tests.StatsDataAccessTest" />
        <instrumentation
            android:name="android.test.InstrumentationTestRunner"
            android:label="UI Tests"
            android:targetPackage="club.glamajestic.healthtrack.test" />

        <activity android:name=".FoodEntry" />
        <activity
            android:name=".MealEntry"
            android:label="@string/title_activity_meal_entry"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            android:pack
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="club.glamajestic.healthtrack.MainActivity" />
        </activity>
        <activity android:name=".ChooseNutrientsDialog"></activity>
    </application>

</manifest>